* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#cartoon {
  --line: #222;
  --skin: rgb(240, 148, 87);
  width: 80vmin;
  height: 80vmin;
  background-color: #f003;
  background-image: repeating-linear-gradient(#0000 0 9.5%, #0002 10%),
    repeating-linear-gradient(to left, #0000 0 9.5%, #0002 10%);
  color: var(--line);

  /* CSS for centering an object */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cartoon div,
#cartoon div.ha,
#cartoon div.hb {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}

.face {
  width: 45%;
  height: 60%;
  background: var(--skin);
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);

  border-radius: 100% / 60% 60% 120% 120%;
  border: 0.3vmin solid;
  border-bottom-width: 0.5vmin;
  border-top-width: 0.2vmin;
}

.month {
  width: 50%;
  height: 11%;
  border-radius: 100%;
  box-shadow: -0.5vmin 1.4vmin 0 -1vmin;
  top: 68%;
  left: 50%;
  transform: translatex(-50%) rotate(5deg);
}
